body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: #1e8449;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #145a32;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

footer {
  background: #145a32;
  color: white;
  text-align: center;
  padding: 10px;
}